
<html>
    <body>
<script src="<%= PP %>/banner.js"></script>
<script >
     
    function wrongPassword()
    {
        if(prompt("Please enter your password","") == password){
        window.location.replace("http://ec2-3-23-63-254.us-east-2.compute.amazonaws.com/changeBanner.html");
    
    }else{
           alert("wrong password");
           wrongPassword();
    }
    }
    wrongPassword();

  </script>
</body>
</html>